<div class="container mt-2 pt-2 text-white">
    <div class="row align-items-center">
      
      <div class="col-md-6 text-center text-md-start">
        <h1 class="fw-bold display-4">I'm <span class="text-warning">Dnyaneshwar Kokate</span></h1>
        <p class="lead" style="text-align: justify; text-indent: 50px;">Aspiring Full-Stack .NET Developer with expertise in C#, ASP.NET, ASP.NET MVC, .NET Core, SQL, and Angular. Passionate about building scalable web applications, RESTful APIs, and optimizing backend performance. Seeking an
            opportunity to apply my software development skills in a dynamic and growth-oriented company.</p>
  
        <div class="mt-4">
            <a href="mailto:dnyaneshwarkokatevip@gmail.com" class="btn btn-warning btn-lg me-3 button-gap">Hire Me</a>
            <a href="resume.pdf" download class="btn btn-success btn-lg button-gap mt-1">Download Resume</a>
        </div>
      </div>
  
      <div class="col-md-6 text-center pt-2">
        <img src="hero.png" alt="Developer" class="img-fluid rounded animated-image" style="max-height: 513px; width: auto;">
      </div>
    </div>
  </div>
  
 